* {
  margin: 0;
  padding: 0;
  font-family: "Pacifico", cursive;
}

html,
body {
  height: 100%;
}

.container {
  min-height: 100%;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  box-shadow: 0 0.5px 15px black;
}

.navbar a {
  float: left;
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: black;
  background-color: lightgreen;
  font-weight: bold;
}

.navbar-right {
  float: right;
}

.navbar .active {
  color: white;
  background-color: #808080;
}

#main {
  min-height: 100%;
  overflow: auto;
  display: grid;
  padding-bottom: 50px; /* padding for footer */
}

header {
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1524350876685-274059332603?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-content {
  color: white;
  position: absolute;
  top: 80%;
  left: 60%;
  text-shadow: 2.5px 2.5px 1px black;
  font-size: 1.3rem;
}

.gallery {
  min-height: 70vh;
  background-image: linear-gradient(-45deg, #402b2265, #ba988683, white);
  overflow: hidden;
  padding: 40px 0;
}

.gallery-text {
  position: relative;
  font-size: 1.6rem;
  padding-bottom: 40px;
  left: 15%;
}

.gallery-text h4 {
  transform: translateX(12%);
}

.img-container {
  display: grid;
  grid: "img-1 img-3 img-2 img-4";
}

.img-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  border: 5px solid white;
  border-radius: 60%;
}

.img-1 {
  grid-area: img-1;
}

.img-2 {
  grid-area: img-2;
}
.img-3 {
  grid-area: img-3;
}
.img-4 {
  grid-area: img-4;
}

.img-hor {
  width: 250px;
  height: 350px;
}
.img-ver {
  width: 350px;
  height: 250px;
}

.info p {
  text-align: center;
  padding: 100px 150px;
}

footer {
  position: relative;
  height: 50px;
  margin-top: -50px;
  background-color: #333;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 0;
  color: white;
  clear: both;
}

@media only screen and (max-width: 1350px) {
  .header-content {
    font-size: 1rem;
  }

  .img-container {
    grid:
      ". img-1 img-3 ."
      ". . img-3 ."
      ". img-4 img-2 ."
      ". img-4 . .";
  }

  .info p {
    padding: 50px 80px;
  }
}

@media only screen and (max-width: 760px) {
  .header-content {
    font-size: 1rem;
  }

  .img-container {
    grid:
      ". img-1 ."
      "img-3 img-3 ."
      ". img-2 ."
      ". img-4 img-4";
  }

  .img-card {
    padding: 20px;
  }

  .info p {
    padding: 50px;
  }
}
