nav {
  height: 5vh;
  background: #333;
}

.nav-menu {
  display: flex;
  list-style: none;
  width: 30%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  overflow: hidden;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 20px;
}

.nav-links:hover {
  background-color: #999;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-menu {
    position: fixed;
    background: #333;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -15%);
    -webkit-clip-path: circle(100px at 90% -15%);
    transition: all 0.5s ease-out;
    pointer-events: none;
    z-index: 1;
  }

  .nav-links {
    font-size: 2.5rem;
  }
  .nav-links:hover {
  }

  .nav-menu.open {
    clip-path: circle(1200px at 90% -15%);
    -webkit-clip-path: circle(1200px at 90% -15%);
    pointer-events: all;
  }

  .nav-menu li {
    opacity: 0;
  }

  .nav-menu {
    font-size: 25px;
  }

  .nav-menu li:nth-child(1) {
    transition: all 0.5s ease 0.1s;
  }
  .nav-menu li:nth-child(2) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-menu li:nth-child(3) {
    transition: all 0.5s ease 0.3s;
  }

  li.fade {
    opacity: 1;
  }

  .resize {
    display: none;
  }
}
