* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 0;
}

.navbar {
  background-color: violet;
  overflow: hidden;
}

.navbar a {
  float: left;
  text-decoration: none;
  padding: 10px 20px;
  color: #333;
}

.navmenu-right {
  float: right;
}

.active {
  background-color: chartreuse;
}
